<a ui-sref="home">Home</a>



<h2>Students Here</h2>
  <ul>
    <li ng-repeat="item in students | orderBy:'name' | filter:true">

      {{item.name}}

    </li>
  </ul>


<h2>Students Absent</h2>

<ul>
  <li ng-repeat="item in students | orderBy:'name' | filter:false">

    {{item.name}}

  </li>
</ul>

<!-- student list

  <ul>
    <li ng-repeat="item in students | orderBy:'name'">
      {{ item.name }}
      <div ng-hide="present == true">
        <button ng-click="addStudentPresent(item); present = true" type="button" class="btn btn-primary">Sign in</button>
      </div>
      <div ng-show="present == true">
      <button ng-click="addStudentNotPresent(item); present = false" type="button" class="btn btn-warning">Sign out</button>
      </div>
      <br>
    </li>
  </ul>

  </div>
</div> -->
