<a ui-sref="home">Home</a>

<div class="row" ng-show="students.length">
  <div class="col-md-4">


  <ul>
    <li ng-repeat="item in students | orderBy:'name'">
      {{ item.name }}
      <div ng-hide="item.present">
        <button ng-click="addStudentPresent(item)" type="button" class="btn btn-primary">Sign in</button>
      </div>
      <div ng-show="item.present">
        <button ng-click="addStudentNotPresent(item)" type="button" class="btn btn-warning">Sign out</button>
      </div>
      <br>
    </li>
  </ul>

  </div>
</div>
