<div class="row" ng-show="students.length">
  <div class="col-md-4">


  <ul>
    <li ng-repeat="item in students">
      {{ item.name }}
      <div ng-hide="present == true">
        <button ng-click="addStudentPresent(item); present = true" type="button" class="btn btn-primary">Sign in</button>
      </div>
      <div ng-show="present == true">
      <button ng-click="addStudentNotPresent(item); present = false" type="button" class="btn btn-warning">Sign out</button>
      </div>
      <br>
    </li>
  </ul>

  </div>
</div>
